
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #999;
    color: #333;
    cursor: not-allowed;
}

.scoreCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    margin: 0;
    padding: 0;
}

.playerScoreCont,
.cpuScoreCont {
    padding: 0;
    margin: 20px;
    width: 150px;
    border-style: solid;
    border-color: rgb(102, 102, 102);
    border-width: 4px;
}

footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: #999;
    opacity: 0.7;
}

.footerItem {
    margin: 0;
    padding: 12px;
}

.dark-mode {
    background-color: black;
    color: white;
}

#dark-mode-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #333;
    color: white;
    cursor: pointer;
}
